.main_navbar {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    position: fixed;
    z-index: 20;
    width: 100%;
    margin: 0;
    /* height: 50px; */
    color: white;
    background: rgb(14, 11, 70);
    background: linear-gradient(90deg, rgba(14, 11, 70, 1) 0%, rgba(168, 94, 45, 1) 100%, rgba(21, 123, 144, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main_navbar .heading h1 {
    margin: 10px 0 0 0;
    font-family: Garamond;
}

.main_navbar .navbar {
    margin: -10px 0 0 0;
    cursor: pointer;

}