.pillars_heading{
    text-align: center;
    width: 70%;
    margin: auto;
    font-family: Century Gothic;
    padding: 80px 0 30px 0;
}
.pillars_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: auto;
    width: 90%;
    /* border: 2px solid red; */
    font-family: papyrus ;
}
.pillars_content >div{
    border: 20px solid black;
    text-align: center;
    height: 250px;
    width: 80%;
    margin: auto;
}
.pillars_content h2{
    margin-top: 30%;
}
.pillars_content > div > div{
    border: 1px solid gray;
    height: 80%;
    width: 80%;
    margin: 20px 0px 0 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.words_from{
    /* border: 1px solid blue; */
    background-color: black;
    margin-top: 50px;
    height: 450px;
    margin-bottom: 50px;
}
.words_from > h1{
    color: white;
    text-align: center;
    padding: 50px 0 0px 0;
    font-family: Copperplate Gothic Light;
}
.child_word_from{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
}
.child_word_from > div{
    /* border: 2px solid blue; */
    text-align: center;
    width: 70%;
    margin: auto;
    color: white;
}
.child_word_from > div > h3{
    font-size: 40px;
    line-height: 0px;
}
.child_word_from> div >p{
    margin: 0px 10px 30px 10px;
    font-family: Garamond;
    font-size: 20px;

}